*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.list,
.buttons-list,
.social-container__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

:root {
  --main-background-color: #ffffff;
  --first-background-color: #2f303a;
  --second-background-color: #f5f4fa;
  --third-background-color: #2196f3;
  --inscription-bg: rgba(47, 48, 58, 0.8);
  --main-color: black;
  --first-color: #2196f3;
  --second-color: #757575;
  --third-color: rgba(255, 255, 255, 60%);
  --fourth-color: white;
  --border-color: #ececec;
  --second-border-color: #afb1b8;
  --fourth-background-color: rgba(255, 255, 255, 0.1);
  --color-hero: rgba(47, 48, 58, 0.4);
  --icons-color: #afb1b8;
  --portfolio-card: rgba(33, 150, 243, 0.9);
  --for-buttons: #212121;
  --input-border: rgba(33, 33, 33, 0.2);
  --form-button-hover: #188ce8;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 480px;
  padding: 0 15px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

body {
  font-family: "Roboto", "Raleway", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding: 94px 0;
  }
}

.header {
  border-bottom: 1px solid var(--border-color);
}
@media screen and (max-width: 767.98px) {
  .header {
    padding-left: 0;
    padding-right: 0;
  }
}
@media screen and (min-width: 1200px) {
  .header {
    padding: 0 25px;
  }
}

.header .logo,
.nav-list__link,
.mail,
.tel,
.contact,
.link {
  text-decoration: none;
}

.header .logo,
.nav-list__link {
  color: var(--main-color);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header .mail,
.tel {
  color: var(--second-color);
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header .current {
  color: var(--first-color);
  position: relative;
}
.header .current::after {
  position: absolute;
  content: "";
  bottom: -1px;
  left: 0px;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: var(--first-color);
}

.contact:hover,
.contact:focus {
  color: var(--first-color);
}

.nav-list__link:hover,
.nav-list__link:focus {
  color: var(--first-color);
}

.nav-list__item {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-align: center;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
}

.link {
  display: block;
  padding: 32px 0;
}

.contacts-list {
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 767.98px) {
  .contacts-list {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .contacts-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 50px;
    margin-left: auto;
  }
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 767.98px) {
  .header .container {
    max-width: 760px;
  }
}

@media screen and (max-width: 767.98px) {
  .nav {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 50px;
    margin-right: auto;
  }
}
@media screen and (min-width: 1200px) {
  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 93px;
  }
}

.mail-icon,
.tel-icon {
  margin-right: 10px;
  fill: currentColor;
}

.header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-right: auto;
  padding: 16px 0;
  font-family: Raleway;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.16;
  text-align: left;
}

.menu-toggle {
  width: 40px;
  height: 40px;
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
@media screen and (min-width: 767px) {
  .menu-toggle {
    display: none;
  }
}
.menu-toggle.js-close-menu {
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
}
.menu-toggle.js-close-menu:hover {
  fill: var(--first-color);
}

.menu-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 48px 40px;
  background-color: var(--main-background-color);
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-container.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu__nav {
  margin-bottom: auto;
}

.mobile-menu__network:not(:last-child) {
  padding-right: 10px;
  margin-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.mobile-menu__link {
  color: var(--main-color);
  font-size: 40px;
  font-weight: 500;
  line-height: 1.17;
  text-align: left;
  padding: 15px 0;
}

.mobile-menu__nav .current {
  color: var(--first-color);
}

.mobile-menu__mail {
  color: var(--first-color);
  font-size: 34px;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: 0.02em;
  text-align: left;
}
@media screen and (max-width: 360px) {
  .mobile-menu__mail {
    font-size: 24px;
  }
}

.mobile-menu__tel {
  display: inline-block;
  color: var(--second-color);
  font-size: 24px;
  font-weight: 500;
  line-height: 1.16;
  letter-spacing: 0.02em;
  text-align: left;
  margin-top: 32px;
}

.mobile-menu__social {
  color: var(--first-color);
  font-size: 18px;
  font-weight: 500;
  line-height: 1.22;
  letter-spacing: 0.02em;
  text-align: left;
  padding: 0;
}

.mobile-menu__contact {
  margin-bottom: 64px;
}

.mobile-menu__net {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 15px;
}

.logo {
  font-family: "Raleway";
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  text-align: left;
}

.logo .logo__blue {
  color: var(--first-color);
}

.logo:visited {
  color: var(--main-color);
}

.main .buttons-list .button {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.625;
  letter-spacing: 0.02em;
  border: none;
  border-radius: 4px;
  text-align: center;
  font-family: inherit;
  padding: 6px 22px;
  color: var(--for-buttons);
  background-color: var(--second-background-color);
  cursor: pointer;
  -webkit-transition-property: color, background-color, -webkit-box-shadow;
  transition-property: color, background-color, -webkit-box-shadow;
  transition-property: color, background-color, box-shadow;
  transition-property: color, background-color, box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.main .buttons-list .button:hover, .main .buttons-list .button:focus {
  color: var(--fourth-color);
  background-color: var(--third-background-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.main .buttons-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  row-gap: 15px;
}
@media screen and (max-width: 767.98px) {
  .main .buttons-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .main .buttons-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .main .buttons-list {
    margin-bottom: 50px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.portfolio-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.portfolio-list__card {
  padding: 20px 24px;
  border-left: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
}
@media screen and (min-width: 767.98px) and (max-width: 1199.98px) {
  .portfolio-list__card {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

.portfolio-list__card__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-color);
  margin-bottom: 4px;
}

.portfolio-list__card__text {
  font-size: 16px;
  line-height: 1.875;
  color: var(--second-color);
  margin: 0;
}

.portfolio-list__project-card {
  display: block;
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list__project-card:hover, .portfolio-list__project-card:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-list__project-card:hover .floating-text, .portfolio-list__project-card:focus .floating-text {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .portfolio-list__project-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
  }
}

.card-description {
  position: relative;
  overflow: hidden;
}

.floating-text {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateY(101%);
          transform: translateY(101%);
  padding: 63px 24px;
  width: 100%;
  height: 100%;
  background-color: var(--portfolio-card);
  font-family: inherit;
  font-size: 18px;
  line-height: 1.55;
  text-align: left;
  color: var(--fourth-color);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767.98px) {
  .portfolio-list__item {
    width: 450px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .portfolio-list__item {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio-list__item {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 370px;
  }
}

.hero {
  background-color: var(--first-background-color);
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(var(--color-hero)), to(var(--color-hero))), url("../images/hero/hero_sm-@1x.jpg");
  background-image: linear-gradient(var(--color-hero), var(--color-hero)), url("../images/hero/hero_sm-@1x.jpg");
  max-width: 480px;
  height: 400px;
  padding: 118px 0;
  margin-left: auto;
  margin-right: auto;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(var(--color-hero)), to(var(--color-hero))), url("../images/hero/hero_sm-@2x.jpg");
    background-image: linear-gradient(var(--color-hero), var(--color-hero)), url("../images/hero/hero_sm-@2x.jpg");
  }
}
@media screen and (min-width: 480px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(var(--color-hero)), to(var(--color-hero))), url("../images/hero/hero_m-@1x.jpg");
    background-image: linear-gradient(var(--color-hero), var(--color-hero)), url("../images/hero/hero_m-@1x.jpg");
    max-width: 768px;
  }
}
@media screen and (min-width: 480px) and (min-device-pixel-ratio: 2), screen and (min-width: 480px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 480px) and (min-resolution: 192dpi), screen and (min-width: 480px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(var(--color-hero)), to(var(--color-hero))), url("../images/hero/hero_m-@2x.jpg");
    background-image: linear-gradient(var(--color-hero), var(--color-hero)), url("../images/hero/hero_m-@2x.jpg");
  }
}
@media screen and (min-width: 769px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(var(--color-hero)), to(var(--color-hero))), url("../images/hero/hero_lg-@1x.jpg");
    background-image: linear-gradient(var(--color-hero), var(--color-hero)), url("../images/hero/hero_lg-@1x.jpg");
  }
}
@media screen and (min-width: 769px) and (min-device-pixel-ratio: 2), screen and (min-width: 769px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 769px) and (min-resolution: 192dpi), screen and (min-width: 769px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(var(--color-hero)), to(var(--color-hero))), url("../images/hero/hero_lg-@2x.jpg");
    background-image: linear-gradient(var(--color-hero), var(--color-hero)), url("../images/hero/hero_lg-@2x.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    height: 600px;
    padding: 200px 0;
  }
}
.hero__title {
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  max-width: 360px;
  font-size: 26px;
  font-weight: 900;
  line-height: 1.61;
  letter-spacing: 0.06em;
  color: var(--fourth-color);
  text-transform: uppercase;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
    max-width: 696px;
  }
}
.hero__button {
  padding: 10px 32px;
  color: var(--fourth-color);
  background-color: var(--third-background-color);
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 0.06em;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 40px;
  width: 528px;
  height: 581px;
  background-color: var(--main-background-color);
  border-radius: 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
@media screen and (max-width: 449.98px) {
  .modal {
    width: 300px;
    height: auto;
  }
}
@media screen and (min-width: 450px) and (max-width: 1199.98px) {
  .modal {
    width: 450px;
    height: auto;
  }
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--inscription-bg);
  opacity: 1;
  visibility: visible;
  -webkit-transition-property: opacity, visibility;
  transition-property: opacity, visibility;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.close.button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition-property: fill, border;
  transition-property: fill, border;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.close.button:hover, .close.button:focus {
  fill: var(--first-color);
  border: 1px solid var(--first-color);
  cursor: pointer;
}

@media screen and (min-width: 1200px) {
  .benefits {
    padding-bottom: 0;
  }
}
.benefits__wrap__title {
  margin-bottom: 10px;
  font-size: inherit;
  font-weight: 700;
  line-height: 1.14;
}
.benefits__wrap__text {
  line-height: 1.71;
  color: var(--second-color);
}
.benefits__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 120px;
  background-color: var(--second-background-color);
  margin-bottom: 30px;
}
@media screen and (max-width: 767.98px) {
  .benefits__wrap__title {
    text-align: center;
  }
  .benefits__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .benefits__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 354px;
    text-align: left;
  }
  .benefits__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .benefits__list .item + .item {
    margin-left: 30px;
  }
  .benefits__wrap {
    width: 270px;
  }
}

.work {
  display: none;
}
@media screen and (min-width: 1200px) {
  .work {
    display: block;
  }
}
.work__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}
.work__title {
  text-align: center;
  margin-bottom: 50px;
  padding-top: 0;
}
.work__item {
  position: relative;
}
.work__inscription {
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--inscription-bg);
  font-weight: 700;
  line-height: 1.14;
  color: var(--fourth-color);
  text-transform: uppercase;
}
.work .description {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
}

.team {
  background-color: var(--second-background-color);
}

.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}
@media screen and (min-width: 768px) {
  .team__list {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.team__item {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (max-width: 767.98px) {
  .team__item {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .team__item {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    width: 270px;
  }
}

.team__title {
  text-align: center;
  margin-bottom: 50px;
}

.team__name {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.187;
  text-align: center;
  margin-bottom: 10px;
}

.team__role {
  font-size: 16px;
  line-height: 1.187;
  color: var(--second-color);
  text-align: center;
}

.team .person-card {
  padding: 30px 32px;
  background-color: var(--fourth-color);
}

.description {
  font-weight: 700;
  text-align: center;
}
@media screen and (max-width: 1199.98px) {
  .description {
    font-size: 28px;
    line-height: 1.18;
  }
}
@media screen and (min-width: 1200px) {
  .description {
    font-size: 36px;
    line-height: 1.16;
  }
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 16px;
}

.social-list__link {
  color: var(--icons-color);
  border-radius: 50%;
  width: 44px;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list__link:hover, .social-list__link:focus {
  background-color: var(--third-background-color);
  color: var(--fourth-color);
}

.social-list__icon {
  fill: currentColor;
}

.clients__title {
  text-align: center;
  margin-bottom: 30px;
  padding-top: 0;
}
@media screen and (min-width: 1200px) {
  .clients__title {
    margin-bottom: 50px;
  }
}
.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.clients__link {
  color: var(--icons-color);
  border-radius: 2px;
  width: 210px;
  height: 92px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  outline: 1px solid var(--second-border-color);
  -webkit-transition-property: color, outline-color;
  transition-property: color, outline-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover, .clients__link:focus {
  color: var(--first-color);
  outline-color: var(--first-color);
}
@media screen and (min-width: 767px) {
  .clients__link {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .clients__link {
    width: 170px;
  }
}
.clients__icon {
  fill: currentColor;
}

.footer {
  background-color: var(--first-background-color);
  padding: 60px 0;
}

@media screen and (min-width: 1200px) {
  .footer .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

@media screen and (max-width: 1200px) {
  .location {
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .location {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-right: 70px;
  }
}

@media screen and (min-width: 768px) {
  .footer-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}
@media screen and (min-width: 768px) and (min-width: 768px) and (max-width: 1199px) {
  .footer-wrap {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
.footer .logo,
.mail,
.tel,
.address__item__coor,
.portfolio-list__project-card {
  text-decoration: none;
}

.location .logo {
  color: var(--fourth-color);
  margin-bottom: 20px;
}
@media screen and (max-width: 1199px) {
  .location .logo {
    display: inline-block;
  }
}
.location .logo:visited {
  color: var(--fourth-color);
}

.address__item__coor {
  color: var(--fourth-color);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.address__item__coor:hover, .address__item__coor:focus {
  color: var(--first-color);
}

.address__item__mail,
.address__item__tel {
  color: var(--third-color);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.address__item__mail:hover, .address__item__mail:focus,
.address__item__tel:hover,
.address__item__tel:focus {
  color: var(--first-color);
}

.address__item__coor,
address__item__mail,
address__item__tel {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.address__item + .address__item {
  margin-top: 9px;
}

.address {
  font-style: normal;
}

@media screen and (max-width: 767px) {
  .social-container {
    margin-top: 60px;
  }
}
@media screen and (max-width: 1199px) {
  .social-container {
    text-align: center;
  }
}

.social-container__title,
.join-us__title {
  color: var(--fourth-color);
  text-transform: uppercase;
  margin-bottom: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.14;
  font-size: 14px;
}
@media screen and (max-width: 1199px) {
  .social-container__title,
.join-us__title {
    text-align: center;
  }
}

.social-container__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}

.social-container__link {
  color: var(--fourth-color);
  background-color: var(--fourth-background-color);
  border-radius: 50%;
  width: 44px;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social-container__link:hover, .social-container__link:focus {
  background-color: var(--third-background-color);
  color: var(--fourth-color);
}

.social-container__icon {
  fill: currentColor;
}

@media screen and (max-width: 1200px) {
  .footer-form {
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .footer-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (max-width: 1199px) {
  .join-us {
    margin-top: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .join-us {
    margin-left: auto;
  }
}

.email {
  height: 50px;
  max-width: 450px;
  width: 100%;
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  margin-right: 12px;
  background-color: transparent;
  outline: transparent;
  color: var(--main-background-color);
}
@media screen and (min-width: 1199.98px) {
  .email {
    width: 358px;
  }
}

.subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  color: var(--main-background-color);
  background-color: var(--first-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  padding: 10px 28px;
  text-align: center;
  cursor: pointer;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 1199px) {
  .subscribe {
    margin: 0 auto;
    margin-top: 20px;
  }
}
.subscribe:hover, .subscribe:focus {
  background-color: var(--form-button-hover);
}

.subscribe-icon {
  fill: currentColor;
}

.join-us_title {
  text-align: left;
}

.legend {
  margin-bottom: 12px;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.15;
  text-align: center;
}
@media screen and (max-width: 1199.98px) {
  .legend {
    line-height: 1.5;
  }
}

.human {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: var(--second-color);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  text-align: left;
}
.human:nth-child(-n+4) {
  margin-bottom: 10px;
}

.person-input {
  margin-top: 4px;
  padding-left: 36px;
  width: 100%;
  height: 40px;
  border: 1px solid var(--input-border);
  border-radius: 4px;
  outline: none;
  -webkit-transition-property: border;
  transition-property: border;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.person-input:hover, .person-input:focus {
  border: 1px solid var(--first-color);
}
.person-input:hover + .form-icon, .person-input:focus + .form-icon {
  fill: var(--first-color);
}
.person-input:required {
  border-color: var(--first-color);
}

.agreement-checkbox:required {
  border-color: var(--first-color);
}

.form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.human .feedback {
  resize: none;
  height: 120px;
  width: 100%;
  padding: 12px 16px;
  margin-top: 4px;
  border: 1px solid var(--input-border);
  border-radius: 4px;
  outline: none;
  -webkit-transition-property: border;
  transition-property: border;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.human .feedback:hover, .human .feedback:focus {
  border: 1px solid var(--first-color);
}

.form-agreement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  margin-top: 20px;
  margin-bottom: 30px;
}
@media screen and (max-width: 1199.98px) {
  .form-agreement {
    font-size: 12px;
    line-height: 1.16;
  }
}
@media screen and (min-width: 1200px) {
  .form-agreement {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.agreement-icon-uncheck {
  fill: var(--for-buttons);
  -webkit-transition: opacity;
  transition: opacity;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.agreement-checkbox:checked + .agreement-icon .agreement-icon-uncheck {
  opacity: 0;
}

.agreement-icon-check {
  opacity: 0;
  fill: var(--first-color);
  -webkit-transition: opacity;
  transition: opacity;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 767px) {
  .agreement-icon-check {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

.agreement-checkbox:checked + .agreement-icon .agreement-icon-check {
  opacity: 1;
}

.agreement-link {
  color: var(--first-color);
  line-height: 1.71;
  text-align: left;
}

.form-submit {
  display: block;
  padding: 10px 52px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.86;
  letter-spacing: 0.06em;
  color: var(--main-background-color);
  background-color: var(--first-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.form-submit:hover, .form-submit:focus {
  background-color: var(--form-button-hover);
}/*# sourceMappingURL=main.css.map */