:root {
	--main-background-color: #ffffff;
	--first-background-color: #2f303a;
	--second-background-color: #f5f4fa;
	--third-background-color: #2196f3;
	--inscription-bg: rgba(47, 48, 58, 0.8);
	--main-color: black;
	--first-color: #2196f3;
	--second-color: #757575;
	--third-color: rgba(255, 255, 255, 60%);
	--fourth-color: white;
	--border-color: #ececec;
	--second-border-color: #afb1b8;
	--fourth-background-color: rgba(255, 255, 255, 0.1);
	--color-hero: rgba(47, 48, 58, 0.4);
	--icons-color: #afb1b8;
	--portfolio-card: rgba(33, 150, 243, 0.9);
	--for-buttons: #212121;
	--input-border: rgba(33, 33, 33, 0.2);
	--form-button-hover: #188ce8;
}
