.footer {
	background-color: var(--first-background-color);
	padding: 60px 0;
}

.footer .container {
	@media screen and (min-width: 1200px) {
		display: flex;
		align-items: baseline;
	}
}

.location {
	@media screen and (max-width: 1200px) {
		text-align: center;
	}

	@media screen and (min-width: 1200px) {
		display: flex;
		flex-direction: column;
		margin-right: 70px;
	}
}

@media screen and (min-width: 768px) {
	.footer-wrap {
		display: flex;
		align-items: baseline;

		@media screen and (min-width: 768px) and (max-width: 1199px) {
			justify-content: space-around;
		}
	}
}

.footer .logo,
.mail,
.tel,
.address__item__coor,
.portfolio-list__project-card {
	text-decoration: none;
}

.location .logo {
	@media screen and (max-width: 1199px) {
		display: inline-block;
	}
	color: var(--fourth-color);
	margin-bottom: 20px;

	&:visited {
		color: var(--fourth-color);
	}
}

.address__item__coor {
	color: var(--fourth-color);

	transition-property: color;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

	&:hover,
	&:focus {
		color: var(--first-color);
	}
}

.address__item__mail,
.address__item__tel {
	color: var(--third-color);

	transition-property: color;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

	&:hover,
	&:focus {
		color: var(--first-color);
	}
}

.address__item__coor,
address__item__mail,
address__item__tel {
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
}
.address__item + .address__item {
	margin-top: 9px;
}

.address {
	font-style: normal;
}
