.header {
	border-bottom: 1px solid var(--border-color);

	@media screen and (max-width: 767.98px) {
		padding-left: 0;
		padding-right: 0;
	}

	@media screen and (min-width: 1200px) {
		padding: 0 25px;
	}
}

.header .logo,
.nav-list__link,
.mail,
.tel,
.contact {
	text-decoration: none;
}

.header .logo,
.nav-list__link {
	color: var(--main-color);

	transition-property: color;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header .mail,
.tel {
	color: var(--second-color);
	font-weight: 500;
	display: flex;
	align-items: center;

	transition-property: color;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header .current {
	color: var(--first-color);
	position: relative;

	&::after {
		position: absolute;
		content: "";
		bottom: -1px;
		left: 0px;

		width: 100%;
		height: 4px;

		border-radius: 4px;
		background-color: var(--first-color);
	}
}

.contact:hover,
.contact:focus {
	color: var(--first-color);
}

.nav-list__link:hover,
.nav-list__link:focus {
	color: var(--first-color);
}

.nav-list__item {
	font-weight: 500;
	line-height: 1.14;
	letter-spacing: 0.02em;
	text-align: center;
}

.nav-list {
	display: flex;
	gap: 50px;
}

.link {
	display: block;
	padding: 32px 0;
}

.contacts-list {
	@media screen and (max-width: 767.98px) {
		display: none;
	}
	@media screen and (min-width: 768px) and (max-width: 1199.98px) {
		display: flex;
		flex-direction: column;
		gap: 10px;
	}
	@media screen and (min-width: 1200px) {
		display: flex;
		gap: 50px;
		margin-left: auto;
	}

	transition-property: color;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header .container {
	display: flex;
	align-items: center;
	@media screen and (max-width: 767.98px) {
		max-width: 760px;
	}
}

.nav {
	@media screen and (max-width: 767.98px) {
		display: none;
	}

	@media screen and (min-width: 768px) and (max-width: 1199.98px) {
		display: flex;
		gap: 50px;
		margin-right: auto;
	}

	@media screen and (min-width: 1200px) {
		display: flex;
		align-items: center;
		gap: 93px;
	}
}

.mail-icon,
.tel-icon {
	margin-right: 10px;
	fill: currentColor;
}

.header .logo {
	display: flex;
	flex-wrap: nowrap;
	justify-content: flex-start;
	margin-right: auto;

	font-family: Raleway;
	font-size: 24px;
	font-weight: 700;
	line-height: 1.16;
	text-align: left;
}

.menu-toggle {
	width: 40px;
	height: 40px;
	margin-left: auto;
	display: flex;
	align-items: center;
	justify-content: center;

	padding: 0;
	background-color: transparent;
	border: none;

	cursor: pointer;

	@media screen and (min-width: 767px) {
		display: none;
	}
}
