.header {
	border-bottom: 1px solid var(--border-color);

	@media screen and (max-width: 767.98px) {
		padding-left: 0;
		padding-right: 0;
	}

	@media screen and (min-width: 1200px) {
		padding: 0 25px;
	}
}

.header .logo,
.nav-list__link,
.mail,
.tel,
.contact,
.link {
	text-decoration: none;
}

.header .logo,
.nav-list__link {
	color: var(--main-color);

	transition-property: color;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header .mail,
.tel {
	color: var(--second-color);
	font-weight: 500;
	display: flex;
	align-items: center;

	transition-property: color;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header .current {
	color: var(--first-color);
	position: relative;

	&::after {
		position: absolute;
		content: "";
		bottom: -1px;
		left: 0px;

		width: 100%;
		height: 4px;

		border-radius: 4px;
		background-color: var(--first-color);
	}
}

.contact:hover,
.contact:focus {
	color: var(--first-color);
}

.nav-list__link:hover,
.nav-list__link:focus {
	color: var(--first-color);
}

.nav-list__item {
	font-weight: 500;
	line-height: 1.14;
	letter-spacing: 0.02em;
	text-align: center;
}

.nav-list {
	display: flex;
	gap: 50px;
}

.link {
	display: block;
	padding: 32px 0;
}

.contacts-list {
	@media screen and (max-width: 767.98px) {
		display: none;
	}
	@media screen and (min-width: 768px) and (max-width: 1199.98px) {
		display: flex;
		flex-direction: column;
		gap: 10px;
	}
	@media screen and (min-width: 1200px) {
		display: flex;
		gap: 50px;
		margin-left: auto;
	}

	transition-property: color;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header .container {
	display: flex;
	align-items: center;
	@media screen and (max-width: 767.98px) {
		max-width: 760px;
	}
}

.nav {
	@media screen and (max-width: 767.98px) {
		display: none;
	}

	@media screen and (min-width: 768px) and (max-width: 1199.98px) {
		display: flex;
		gap: 50px;
		margin-right: auto;
	}

	@media screen and (min-width: 1200px) {
		display: flex;
		align-items: center;
		gap: 93px;
	}
}

.mail-icon,
.tel-icon {
	margin-right: 10px;
	fill: currentColor;
}

.header .logo {
	display: flex;
	flex-wrap: nowrap;
	justify-content: flex-start;
	margin-right: auto;

	font-family: Raleway;
	font-size: 24px;
	font-weight: 700;
	line-height: 1.16;
	text-align: left;
}

.menu-toggle {
	width: 40px;
	height: 40px;
	margin-left: auto;
	display: flex;
	align-items: center;
	justify-content: center;

	padding: 0;
	background-color: transparent;
	border: none;

	cursor: pointer;

	@media screen and (min-width: 767px) {
		display: none;
	}

	&.js-close-menu {
		position: absolute;
		top: 8px;
		right: 8px;
		cursor: pointer;
	}
	&.js-close-menu:hover {
		fill: var(--first-color);
	}
}

.menu-container {
	display: flex;
	flex-direction: column;

	position: fixed;
	top: 0;
	left: 0;

	width: 100%;
	height: 100%;
	padding: 48px 40px;

	background-color: var(--main-background-color);

	transform: translateX(100%);

	&.is-open {
		transform: translateX(0);
	}
}

.mobile-menu__nav {
	margin-bottom: auto;
}

.mobile-menu__link {
	color: var(--main-color);
	font-size: 40px;
	font-weight: 500;
	line-height: 1.17;
	text-align: left;

	padding: 15px 0;
}

.mobile-menu__nav .current {
	color: var(--first-color);
}

.mobile-menu__mail {
	color: var(--first-color);
	font-size: 34px;
	font-weight: 500;
	line-height: 40px;
	letter-spacing: 0.02em;
	text-align: left;

	@media screen and (max-width: 360px) {
		font-size: 24px;
	}
}

.mobile-menu__tel {
	display: inline-block;
	color: var(--second-color);
	font-size: 24px;
	font-weight: 500;
	line-height: 1.16;
	letter-spacing: 0.02em;
	text-align: left;
	margin-top: 32px;
}

.mobile-menu__social {
	color: var(--first-color);
	font-size: 18px;
	font-weight: 500;
	line-height: 1.22;
	letter-spacing: 0.02em;
	text-align: left;
	padding: 0;
}

.mobile-menu__contact {
	margin-bottom: 64px;
}

.mobile-menu__net {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
}

// ХЗ КАК СДЕЛАТЬ

.mobile-menu__item {
	position: relative;
}

.mobile-menu__social::after:not(:last-child) {
	position: absolute;
	content: "";
	right: 0px;

	width: 100%;
	height: 4px;

	border: 1px solid rgba(33, 33, 33, 0.2);
	transform: rotate(90deg);

	border-radius: 4px;
	background-color: var(--first-color);
}
