.hero {
	background-color: var(--first-background-color);
	text-align: center;
	background-size: cover;
	background: linear-gradient(var(--color-hero), var(--color-hero)), url("../images/hero.jpg"), no-repeat left top;
	padding: 118px 0;
	margin-left: auto;
	margin-right: auto;

	@media screen and (min-width: 1200px) {
		max-width: 1600px;
		padding: 200px 0;
	}

	&__title {
		margin-bottom: 30px;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		max-width: 360px;

		font-size: 26px;
		font-weight: 900;
		line-height: 1.61;
		letter-spacing: 0.06em;
		color: var(--fourth-color);
		text-transform: uppercase;
	}

	&__button {
		padding: 10px 32px;

		color: var(--fourth-color);
		background-color: var(--third-background-color);
		font-family: inherit;
		font-size: 16px;
		font-weight: 700;
		line-height: 1.875;
		letter-spacing: 0.06em;
		border: none;
		border-radius: 4px;
		cursor: pointer;
	}
}
