.logo {
	font-family: "Raleway";
	font-size: 26px;
	font-weight: 700;
	line-height: 1.19;
	text-align: left;
}

.logo .logo__blue {
	color: var(--first-color);
}

.logo:visited {
	color: var(--main-color);
}
