.legend {
	margin-bottom: 12px;

	font-size: 20px;
	font-weight: 700;
	line-height: 1.15;
	text-align: center;
}

.human {
	position: relative;
	display: flex;
	flex-direction: column;

	color: var(--second-color);

	font-size: 12px;
	line-height: 1.17;
	letter-spacing: 0.01em;
	text-align: left;

	&:nth-child(-n + 4) {
		margin-bottom: 10px;
	}
}

.person-input {
	margin-top: 4px;
	padding-left: 36px;

	width: 100%;
	height: 40px;

	border: 1px solid var(--input-border);
	border-radius: 4px;
	outline: none;

	transition-property: border;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

	&:hover,
	&:focus {
		border: 1px solid var(--first-color);
	}

	&:hover + .form-icon,
	&:focus + .form-icon {
		fill: var(--first-color);
	}

	&:required {
		border-color: var(--first-color);
	}
}

.agreement-checkbox:required {
	border-color: var(--first-color);
}

.form-icon {
	position: absolute;

	top: 50%;
	left: 12px;

	transition-property: fill;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.human .feedback {
	resize: none;

	height: 120px;
	width: 100%;
	padding: 12px 16px;
	margin-top: 4px;

	border: 1px solid var(--input-border);
	border-radius: 4px;
	outline: none;

	transition-property: border;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

	&:hover,
	&:focus {
		border: 1px solid var(--first-color);
	}
}

.form-agreement {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	margin-top: 20px;
	margin-bottom: 30px;
}

.agreement-icon-uncheck {
	fill: var(--for-buttons);

	transition: opacity;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.agreement-checkbox:checked + .agreement-icon .agreement-icon-uncheck {
	opacity: 0;
}

.agreement-icon-check {
	opacity: 0;
	fill: var(--first-color);
	transition: opacity;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.agreement-checkbox:checked + .agreement-icon .agreement-icon-check {
	opacity: 1;
}

.agreement-link {
	color: var(--first-color);

	line-height: 1.71;
	text-align: left;
}

.form-submit {
	display: block;
	padding: 10px 52px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;

	font-family: inherit;
	font-size: 16px;
	font-weight: 700;
	line-height: 1.86;
	letter-spacing: 0.06em;
	text-align: center;

	color: var(--main-background-color);
	background-color: var(--first-color);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	border: none;

	cursor: pointer;

	transition-property: background-color;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

	&:hover,
	&:focus {
		background-color: var(--form-button-hover);
	}
}
