.main .buttons-list .button {
	font-size: 16px;
	font-weight: 500;
	line-height: 1.625;
	letter-spacing: 0.02em;
	border: none;
	border-radius: 4px;
	text-align: center;
	font-family: inherit;
	padding: 6px 22px;
	color: var(--for-buttons);
	background-color: var(--second-background-color);
	cursor: pointer;

	transition-property: color, background-color, box-shadow;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

	&:hover,
	&:focus {
		color: var(--fourth-color);
		background-color: var(--third-background-color);
		box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
	}
}
.main .buttons-list {
	display: flex;
	gap: 8px;
	justify-content: center;
	margin-bottom: 50px;
}

.portfolio-list {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
}
.portfolio-list__card {
	padding: 20px 24px;

	border-left: 1px solid var(--border-color);
	border-right: 1px solid var(--border-color);
	border-bottom: 1px solid var(--border-color);
}

.portfolio-list__card__title {
	font-size: 18px;
	font-weight: 700;
	line-height: 2;
	letter-spacing: 0.06em;
	color: var(--main-color);
	margin-bottom: 4px;
}

.portfolio-list__card__text {
	font-size: 16px;
	line-height: 1.875;
	color: var(--second-color);
	margin: 0;
}

.portfolio-list__project-card {
	display: block;

	transition-property: box-shadow;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

	&:hover,
	&:focus {
		box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
	}

	&:hover .floating-text,
	&:focus .floating-text {
		transform: translateY(0);
	}
}

.card-description {
	position: relative;
	overflow: hidden;
}

.floating-text {
	position: absolute;
	top: 0;
	left: 0;
	transform: translateY(100%);
	padding: 63px 24px;

	width: 100%;
	height: 100%;

	background-color: var(--portfolio-card);
	font-family: inherit;
	font-size: 18px;
	line-height: 1.55;
	text-align: left;
	color: var(--fourth-color);

	transition-property: transform;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
